*{									/* Default */
	padding:			0px;
	margin:				0px;
	list-style:			none;
	text-decoration:	none;
	font-family: 'Roboto', sans-serif;
}

/*------------*/

#modalContainer
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background: hsla(0,0%,0%,.9);
  z-index: 1;
}

#box
{
	display: block;
	position: relative;
	top: 7.5%; 
	left: 30%;
	background: #333;
	width: 40vw;
	height: 85vh;
	color: #fff;
  border-radius: 5px;
  z-index: 2;
}

  #box
  {
    text-align: center;
  }

    #box .column
    {
      display: inline-block;
      vertical-align: middle;
    }

  .button
  {
    display: inline-block;
    padding: 10px 20px;
    font-size: 150%;
    border: none;
    border-bottom: 2px solid #252525;
    margin: 2%;
    cursor: pointer;
    font-variant: small-caps;
    background: #ffd65e;
    color: #333;
    letter-spacing: 2px;
  }

    .button:hover
    {
      background: #f7c12c;
    }
  
  .extraButton
  {
    display: none;
    margin-top: 20px;
  }  


  p
  {
    padding-top: 20px;
    margin: 0 auto;
    width: 90%;
    font-weight: 300;
    line-height: 150%;
    text-align: left;
  }

  h2
  {
    padding-top: 20px;
    font-variant: small-caps;
    letter-spacing: 2px; 
    font-weight: 300;
    font-size: 200%;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }


/* Info Section */ 

  #info
  {
    display: block;
  }

  h2
  {
    padding-top: 20px;
    font-variant: small-caps;
    letter-spacing: 6px; 
    font-weight: 300;
    font-size: 200%;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }

  #startTest
  {
    margin-top: 25%;
  }

/* Tasks Container */

  .infoBox
  {
    
    padding: 16px;
  }

  .infoBox p
  {
    text-align: center;
  }

  .narrowLineH
  {
    margin: 0 18vw;
    border-bottom: 1px solid #565656;
  }

  #tasksContainer
  {
    display: none;
  }

  #ishImg
  {
    display: block;
    height: 300px;
    width: auto;
    margin: 5vh auto 5vh auto;
  }

  #labelIshNum
  {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 85%;
  }

  #ishNum
  {
    display: block;
    margin: 1% auto;
    padding: 10px 20px 20px 20px;
    padding-bottom: 2px;
    font-size: 250%;
    background: none;
    border: none;
    border-bottom: 1px solid #ffd65e;
    width: 64px;
    text-align: center;
    color: #ffd65e;
    outline: none;
    font-weight: 300;
    letter-spacing: 1px;
  }

  #taskNextButton
  {
    position: absolute;
    bottom: 0;
    right: 0;  
    width: 100%;
    border: none;
    margin: 0;
    font-weight: 700;
    border-radius: 0 0 5px 5px;
  }

/* Results  */

#results
{
  display: none;  
}

  #results p
  {
    color: #ddd;
  }

  .resultVal
  {
    color:#fff; 
    font-weight: 400;
  }




/*---------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Responsive: */
@media only screen and (max-width: 1024px)
{
  #box
  {
    top: 5%; 
    left: 20%;
    width: 60vw;
    height: 90vh;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px)
{
  #box
  {
    top: 0%; 
    left: 0%;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }

  #taskNextButton
  {
    padding: 20px 0;
    border-radius: 0px;
  }

  #ishImg
  {
    height: 200px;
    width: auto;
  }


}